# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\software\ideaProject\is-user-api\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
